
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{
        ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("username");
    }
    @if (ViewBag.Data != null)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="Home" asp-action="Privacy" title="Manage">Hello @ViewBag.Data!</a>
        </li>
        <li class="nav-item">
            @*<form id="logoutForm" class="form-inline" asp-controller="Login"  asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Login", new { area = "" })">*@
            <form>
                <button id="Logout" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Login" asp-action="Logout">Logout</button>
            </form>
            @*</form>*@
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="Register" asp-controller="Login" asp-action="Register">Register</a>
            @*@Html.ActionLink("Register","Create","Users")*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="Login" asp-controller="Login" asp-action="Login">Login</a>
        </li>
    }
</ul>
